<!DOCTYPE HTML>
    <html lang="en">
        <head>
            <meta charset="utf-8">

            <title>轮播图</title>
        </head>
        <body>
            <div class="outer">
                <ul>
                    <li><a><image src="./../sowing_pic/img/123.jpg"></image></a></li>
                    <li><a><image src="./../sowing_pic/img/124.jpg"></image></a></li>
                    <li><a><image src="./../sowing_pic/img/125.jpg"></image></a></li>
                </ul>
                <div class="left_btn"><</div>
                <div class="right_btn">></div>
            </div>
        </body>
    </html>